body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
 }
 .pt-9{
    padding-top: 9rem;
}
.pb-6{
    padding-bottom: 4rem;
}
/* Colors */
.text-prune-dark{
    color: rgb(91,19,60);
}
.text-white{ color: #fff;}
.text-prune{
    color: rgb(145,33,92);
}
.text-blue{
    color: rgb(97,190,223);
}
.bg-blue{
    background-color: rgb(97,190,223);
}
.bg-blue-light{
    background-color: rgb(162,218,234);
}
.bg-prune-light{
    background-color: rgb(163,116,148);
}
.bg-prune-dark{
    background-color: rgb(91,19,60);
}
.bg-prune-dark-menu{
    background-color: rgb(91,19,60);
}
.bg-white{background-color: #fff;}
.bg-prune-dark-op70{
    background-color: rgba(91,19,60,.8);
}
.bg-white-op40{
    background-color: rgba(255,255,255,.4);
}
.bg-graphiste{
    height: 100vh;
    background: url(img/graphiste5.jpg) center top no-repeat;
}
.bg-cover{background-size: cover !important;}

/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url('font/BebasNeue-Regular.otf') format('otf'),
        url('font/BebasNeue-Regular.woff') format('woff'),
        url('font/BebasNeue-Regular.woff2') format('woff2'),
        url('font/BebasNeue-Regular.ttf') format('ttf');}
h1,.font-family-bebas{
    font-family: 'BebasNeue';
}
h1,.font-size-36{
    font-size: 2.25rem;
}
.font-size-31{
    font-size: 1.93rem;
}
.font-size-24{
    font-size: 1.5rem;
}
.font-size-21{
    font-size: 1.31rem;
}
.font-size-18{
    font-size: 1.125rem;
}
.font-size-13{
    font-size: .8rem;
}
.line-height{
    line-height: 1.8rem;
}
/* Menus */
header{
    overflow: hidden;
}
nav ul{
    scroll-behavior : smooth ; 
    /* défilement */
}
.menu-nav ul li a{
    padding-left: 1rem;
}
.menu-nav ul li a:hover{
    color: rgba(97,190,223);
    text-decoration: none;
}
#navigation{
    position: fixed;
    z-index: 1500;
    width: 200vw;
    height: 110vh;
    right: -50%;
}
#navigation ul li a{
    color: #fff;
}
#navigation ul li a:hover{
    color: rgb(97,190,223);
}
#navigation ul{padding-right: 35%;}
.burger {
    margin: 0;
    position: absolute;
    top: 0;
    right : 20%;
    z-index: 2000;
    cursor: pointer;
}
.display-none{
    display:none;
}
.display-flex{
   display: flex;flex-direction: column;
}
#burger span {
    width: 35px;
    height: 4px;
    display: block;
    margin-bottom: 6px;
}
.burger span:last-child {
    margin-bottom:0px;
}
.ChloeLogo{
    vertical-align: middle;
}
/* Portfolio */
.h-250{height:250px;}
.border{border: solid 1px #b2b2b2 !important;}
.snow-agency{background: url(img/snow-agency-min.jpg) no-repeat center;}
.blueasy{background: url(img/blueasy-min.jpg) no-repeat center;}
.vin-fr{background: url(img/vin-fr-min.jpg)  no-repeat center;}
.chancel{background: url(img/chancel-min.jpg)  no-repeat center;}
.modularite{background: url(img/modularite-min.jpg)  no-repeat center;}
.flappy-mario{background: url(img/flappy-mario-min.jpg)  no-repeat center;}
.card {
    border: none!important;
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
  }
  .card__side {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

  }
  .card__side--front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card__side--back {
    justify-content: center;
    align-items: center;
    transform: rotateY(-180deg);
  }
  
  .card:hover .card__side--front {
    transform: rotateY(180deg);
  }
  
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
.download-cv{
    display: block;
    width: 50.76px;
    height: 50px;
    background-image: url(img/logo-cv.svg);
}
.download-cv:hover{
    background-image: url(img/logo-cv-hover.svg);
}
.competences-graphisme{
    background: url(img/competences-graphisme.svg) no-repeat center;
    background-size: contain;
    height: 290px;
}
.competences-web{
    background: url(img/competences-web.svg) no-repeat center;
    background-size: contain;
    height: 290px;
}
.competences-cms{
    background: url(img/competences-cms.svg) no-repeat center;
    background-size: contain;
    height: 290px;
}
/* experience */
#experience{
    border-bottom: solid 3px #58133C;
}
.border-bottom{border: none!important;}
.jeager{
    background: url(img/flower-little.svg) no-repeat;
    background-position: bottom left 40%;

}
.modularite1{
    background: url(img/flower-big.svg) no-repeat;
    background-position: bottom right 20%;

}
.modularite2{
    background: url(img/flower-little.svg) no-repeat;
    background-position: bottom center;

}
/* Formation */
.bac-stt{
    background: url(img/flower-little2.svg) no-repeat;
    background-position: top left;
}
.licence{
    background: url(img/flower-big2.svg) no-repeat;
    background-position: top left;
}
.dgd-formation{
    background: url(img/flower-big2.svg) no-repeat;
    background-position: top left;
}
.acs-formation{
    background: url(img/flower-big2.svg) no-repeat;
    background-position: top right;
}

/* Contact */
.bg-contact{
    background: linear-gradient(0.25turn, rgb(163,116,148) 50%, rgb(162,218,234) 50%);
}
input{
    height: 40px;
}
#submit_button{
    width: 237px;
    height: 40px;
}
#submit_button:hover{
    background-color: rgba(97,190,223);
    color: #58133C;
}
.w-66px{
    width: 66px;
    height: 66px;
}
.github{
    background-image: url(img/logo-github.svg);
}
.github:hover{
    background-image: url(img/logo-github-hover.svg);
}
.linkedin{
    background-image: url(img/logo-lindekin.svg);
}
.linkedin:hover{
    background-image: url(img/logo-lindekin-hover.svg);
}
@media (max-width: 767px){
    .bg-contact{
        background: linear-gradient( rgb(163,116,148) 56%, rgb(162,218,234) 44%);
    }
    #contact .w-75{width: 100%!important;}
    #submit_button{width: 100%;}
    .card {
        border: none!important;
        position: relative;
      }
      .card .bg-prune-dark{background-color: rgba(0, 0, 0, 0.7);}
      .card__side {
        transition: none;
        position: absolute;
        width: 95%;
        bottom: 0;
        top:auto;
        left: 0;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .card__side--front {height: 100%;}
      .card__side--back {
        height: auto;
        transform: none;
      }
      .card:hover .card__side--front {
        transform: none;
      }
      
      .card:hover .card__side--back {
        transform: none;
      }
}
@media (max-width: 575px){
    .card__side {width: 100%;}
    .bac-stt,.licence,.dgd-formation,.acs-formation,.jeager,.modularite1,.modularite2{background:none;}
    #experience .align-items-end,#formation .align-items-end{align-items: start!important;}
    #experience .justify-content-end{ justify-content: start!important;}
    .pb-6{padding-bottom: 0;}
    .border-bottom{border-bottom: solid 1px rgb(207, 207, 207)!important;}
    #experience{border-bottom: none;}
}
